@using OSL_Overlay.GameFlow.ChampSelect

<div class="@Team.Side" style="background:@Team.Background;">
    @foreach (var player in Team.Picks)
    {
        <ChampionPickSlot Pick="@player" />
    }
</div>

@code {
    [Parameter] required public Team Team { get; set; }
}
