@page "/cdragon"
@using OSL_Server.DataLoader.CDragon;

<PageTitle>CDragon</PageTitle>
<div class="parent">
    <div class="InformationDataCDragon">
        <div class="content">
            <h2>Information data CDragon</h2>
            <br /><h4>What is update :</h4>
            - <b>Champion :</b> square, sound, splashe, splashe uncentered, loading screen, data information
            <br />- <b>Items :</b> icon, data information
            <br />- <b>Perks :</b> icon, data information
            <br />- <b>Summoners Spell :</b> icon, data information
        </div>
    </div>
    <br />
    <div class="Update">
        <div class="content">
            <h4>Update</h4>
            In default this information are updated automaticly <b>(last update : @CDragon.date)</b> <button class="btn btn-primary button-form" onclick="history.go(0)"> Refresh </button>
            <div>
            </div>
            <br />- <b>Patch :</b> latest <b>(@CDragon.patch)</b>
            <br />- <b>Region :</b> fr_fr, en_gb
        </div>
        <br /><button class="btn btn-primary button-form" @onclick="UpdateManual"> Manual Update </button> (Update with <b>latest</b> version and in <b>fr_fr</b> and <b>en_gb</b>)
    </div>
    <br />
    <div class="CustomUpdate">
        <div class="content">
            <h4>Custom Update</h4>
            If you whant a previous patch for display information, fill in the following gaps (it is possible that it does not work you have by default the <b>@CDragon.patch</b> patch):
        </div>
    </div>
</div>

@code {

}
