@font-face {
    font-family: MyFont;
    src: url(../css/font/fonts/fontLoL.ttf);
}

html, body {
    background-color: black;
    color: white;
}

.title {
    font-family: MyFont;
    font-weight: bold;
    text-decoration: underline;
}