/*##########################################################*/
/*######################## General #########################*/
/*##########################################################*/

@font-face {
    font-family: MyFont;
    src: url(../css/font/fonts/fontLoL.ttf);
}

div {
    font-family: MyFont;
    font-weight: bold;
}

.display-champ-select {
    background: url(../assets/champselect/backgroud-view-1.png);
    height: 1080px;
    width: 1920px;
    position: absolute;
    /* border: 5px solid yellow;*/
}

/*##########################################################*/
/*####################### Not Active #######################*/
/*##########################################################*/

.alert {
    padding: 20px;
    background-color: blue;
    color: white;
    top: 20px;
    width: 800px;
    left: 20px;
}


/*##########################################################*/
/*########################## Team ##########################*/
/*##########################################################*/

.chamSelect-header-blue-info {
    position: absolute;
    left: 20px;
    width: 400px;
    height: 108px;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    /*text-align: center*/
}

    .chamSelect-header-blue-info h1 {
        /*vertical-align: middle;
        text-align: center*/
        text-align: left;
        margin: 0;
    }

    .chamSelect-header-blue-info h5 {
        /*vertical-align: middle;
        text-align: center;*/
        text-align: left;
        margin: 0;
    }

.chamSelect-header-blue-logo {
    position: absolute;
    left: 200px;
    width: 150px;
    height: 150px;
    top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

    .chamSelect-header-red-info {
        position: absolute;
        right: 20px;
        width: 400px;
        height: 108px;
        top: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        color: white;
    }

    .chamSelect-header-red-info h1 {
        text-align: right;
        margin: 0;
    }

    .chamSelect-header-red-info h5 {
        text-align: right;
        margin: 0;
    }

.chamSelect-header-red-logo {
    position: absolute;
    right: 200px;
    width: 150px;
    height: 150px;
    top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
/*##########################################################*/
/*########################## Pick ##########################*/
/*##########################################################*/

.side {
    position: absolute;
    top: 232px;
    width: 350px;
    /*height: 1000px;*/
    display: flex;
    flex-direction: column;
}

    .side .champ-wrapper {
        width: 100%;
        height: 112px;
        position: relative;
        margin-bottom: 4px;
    }

        .side .champ-wrapper:nth-child(3) {
            margin-bottom: 23px;
        }

        .side
        .champ-wrapper
        .base-color-background {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            -webkit-filter: saturate(0.6);
        }

        .side
        .champ-wrapper
        .gradient-background-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: linear-gradient( to right, rgba(0, 0, 0, 0.83) 0%, rgba(0, 0, 0, 0.72) 50%, rgba(0, 0, 0, 0.83) 100% );
        }


        .side
        .champ-wrapper:first-child
        .gradient-background-overlay {
            background-image: radial-gradient( ellipse 82% 128% at 50% 90%, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0.91) 100% );
        }


        .side
        .champ-wrapper:last-child
        .gradient-background-overlay {
            background-image: radial-gradient( ellipse 82% 128% at 50% 10%, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0.91) 100% );
        }

.summoner-object-component
.summoner-object-wrapper
.action-text {
    direction: ltr;
    opacity: 1;
    position: absolute;
    bottom: 30px;
    transition: opacity 0.2s;
}

.summoner-object-component
.summoner-object-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: 300;
    color: white;
    text-shadow: 1px 1px 2px #000, 0px 1px 2px #000, 0px 0px 3px #000, 0px 0px 3px #000, 1px 1px 4px #000;
}

    .summoner-object-component
    .summoner-object-wrapper
    .summoner-name {
        position: absolute;
        bottom: 5px;
        transition: left 0.2s, right 0.2s;
    }

    .summoner-object-component
    .summoner-object-wrapper
    .summoner-spells {
        opacity: 1;
        transition: opacity 0.3s;
    }

    .summoner-object-component
    .summoner-object-wrapper
    .spell {
        width: 49px;
        border: 2px solid #000;
        position: absolute;
        box-shadow: 0 0 1px #000;
    }

        .summoner-object-component
        .summoner-object-wrapper
        .spell:first-child {
            top: 6px;
        }

        .summoner-object-component
        .summoner-object-wrapper
        .spell:nth-child(2) {
            top: 57px;
        }

    .summoner-object-component
    .summoner-object-wrapper
    .champ-picture {
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: 5px;
        right: 5px;
        background-size: 100%;
        background-position: 0% 20%;
        opacity: 1;
    }

#blueSide {
    left: 0px;
}

    #blueSide
    .champ-wrapper
    .base-color-background {
        background: #0b849e;
        border: 5px solid yellow;
    }

    #blueSide
    .summoner-object-component
    .summoner-object-wrapper
    .action-text {
        right: 15px;
        animation-duration: 1.5s;
        animation-name: banBlink;
        animation-iteration-count: infinite;
        transition: none;
    }

    #blueSide
    .summoner-object-component
    .summoner-object-wrapper
    .summoner-name {
        right: 9px;
    }

    #blueSide
    .summoner-object-component
    .summoner-object-wrapper
    .spell {
        left: 7px;
    }

#redSide {
    right: 0;
}

    #redSide
    .summoner-object-component
    .summoner-object-wrapper
    .spell {
        right: 11px;
    }


    #redSide
    .summoner-object-component
    .summoner-object-wrapper
    .summoner-name {
        left: 10px;
    }

    #redSide
    .summoner-object-component
    .summoner-object-wrapper
    .action-text {
        left: 15px;
        animation-duration: 1.5s;
        animation-name: banBlink;
        animation-iteration-count: infinite;
        transition: none;
    }

    #redSide
    .champ-wrapper
    .base-color-background {
        background: #be1e37;
        border: 5px solid yellow;
    }

/*#########################################################*/
/*########################## Ban ##########################*/
/*#########################################################*/
.ban-blink {
    animation-duration: 1.5s;
    animation-name: banBlink;
    animation-iteration-count: infinite;
    transition: none;
}

@keyframes banBlink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.ban-veil {
    filter: grayscale(0.5);
    -webkit-filter: grayscale(0.5);
}

.ban-background {
    background-color: #010a13;
    width: 120px;
    height: 120px;
}

.bans {
    width: 475px;
    position: absolute;
    height: 116px;
    bottom: 30px;
    box-sizing: border-box;
    display: flex;
}

.ban-wrapper {
    width: 120px;
    height: 120px;
    position: relative;
}

.ban-icon {
    width: 120px;
    height: 120px;
    position: relative;
    top: -120px;
    left: 0px;
}

#blueBans {
    left: 43px;
}

    #blueBans .ban-wrapper {
        margin-right: 4px;
    }

        #blueBans .ban-wrapper:nth-child(3) {
            margin-right: 34px;
        }

#redBans {
    right: 43px;
    flex-direction: row-reverse;
}

    #redBans .ban-wrapper {
        margin-left: 4px;
    }

        #redBans .ban-wrapper:nth-child(3) {
            margin-left: 34px;
        }

    #redBans .ban-blink {
        bottom: 120px;
        position: relative;
    }

    #redBans .ban-icon {
        left: 4px;
    }


/*###########################################################*/
/*########################## Timer ##########################*/
/*###########################################################*/

.timer {
    width: 148px;
    height: 108px;
    color: white;
    position: absolute;
    top: 0px;
    padding-top: 33px;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: opacity 0.3s;
    opacity: 1;
}

    .timer .timer-bg {
        position: absolute;
        top: 0;
        width: 147px;
        height: 163px;
        transition: opacity 0.3s;
    }

    .timer .timer-inner {
        position: absolute;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4), -1px 1px 3px rgba(0, 0, 0, 0.4), -1px -1px 3px rgba(0, 0, 0, 0.4), 1px -1px 3px rgba(0, 0, 0, 0.4);
    }

.timer-blue {
    left: 668px;
}

    .timer-blue .timer-bg {
        transform: skew(14deg);
        background: #0b849e;
        right: 0;
        border: 5px solid blue;
    }

    .timer-blue
    .timer-inner {
        transform: skew(-14deg);
        left: 30px;
        top: 30px;
    }

.timer-red {
    right: 668px;
    text-align: right;
}

    .timer-red
    .timer-bg {
        transform: skew(-14deg);
        background: #be1e37;
        left: 0;
        border: 5px solid red;
    }


    .timer-red
    .timer-inner {
        /*        display: ;
        position: center;*/
        left: 30px;
        top: 30px;
        transform: skew(14deg);
    }


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid green;
    width: 125px;
    height: 108px;
}
