@page "/config"

<PageTitle>Config</PageTitle>
<div class="parent">
    <div class="Configuration">
        <div class="content">
            <h2>Configuration</h2>
        </div>
    </div>
</div>

@code {

}
