@page "/endgame"

<PageTitle>End Game</PageTitle>
<div class="parent">
    <div class="endGame">
        <div class="content">
            <h2>End Game</h2>
        </div>
    </div>
</div>
@code {

}
