@page "/"
@using MudBlazor
@using OSL_Server.Configuration;

<PageTitle>OSL</PageTitle>

<h1 class="title">Welcome to OSL!</h1>

<b>For more information for how to use this application see <a href="https://sky-csc.github.io/OSL/" target="_blank">documentation</a></b>
<br />
<br />

<div class="">


    <h2 class="title">CDragon :</h2>
    Data download from CDragon (picture, perks, spell ... of League of Legends)
    <br /><br />
    <h2 class="title">Config :</h2>
    Change port for OSL-Client exchange,
    <br />Load or save champ select view or in game view
    <br /><br />
    <h2 class="title">Champ Select :</h2>
    Customization of champion selection overlay
    <br /><br />
    <h2 class="title">In Game :</h2>
    Customization of in game overlay
    <br /><br />
    <h2 class="title">OBS configuration :</h2>

    Add to your différents scènes the différents URL
    <br />ip : your local or distant ip
    <br />port : your local or distant port (default http port 4141)
    <br />
    <br />
        <div class="alert-warning">
                <strong>Warning!</strong>
                <br>https does not work with OBS for the moment
        </div>
    <br />
    <h4 class="title">Champion selection :</h4>
    http://@Config.oslServerHostName:@Config.oslServerHttpPort/champselect/view1
    <br />http://@Config.oslServerHostName:@Config.oslServerHttpPort/champselect/view2
    <br />http://@Config.oslServerHostName:@Config.oslServerHttpPort/champselect/view3
    <br />http://@Config.oslServerHostName:@Config.oslServerHttpPort/champselect/view4
    <br />
    <br />
    <h4 class="title">In game :</h4>
    http://@Config.oslServerHostName:@Config.oslServerHttpPort/ingame/view1
    <br />http://@Config.oslServerHostName:@Config.oslServerHttpPort/ingame/view2
    <br />http://@Config.oslServerHostName:@Config.oslServerHttpPort/ingame/view3
    <br />
    <br />
    <h4 class="title">End Game :</h4>
    http://@Config.oslServerHostName:@Config.oslServerHttpPort/endgame/view1
    <br />
    <br />
    <h4 class="title">Runes :</h4>
    http://@Config.oslServerHostName:@Config.oslServerHttpPort/runes/adc
    <br />http://@Config.oslServerHostName:@Config.oslServerHttpPort/runes/adcsupp
    <br />http://@Config.oslServerHostName:@Config.oslServerHttpPort/runes/jungle
    <br />http://@Config.oslServerHostName:@Config.oslServerHttpPort/runes/mid
    <br />http://@Config.oslServerHostName:@Config.oslServerHttpPort/runes/top
    <br />http://@Config.oslServerHostName:@Config.oslServerHttpPort/runes/supp
    <br />
    <br />
    <br />

</div>


<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />