@page "/"
<PageTitle>OSL</PageTitle>

<h1>Welcome to OSL!</h1>

<b>For more information for how to use this application see <a href="https://sky-csc.github.io/OSL/" target="_blank">documentation</a></b>

<p style="position:absolute;bottom: 1%">
    Authors : Sky-csc
</p>