@page "/ingame"

<PageTitle>In Game</PageTitle>
<div class="parent">
    <div class="inGame">
        <div class="content">
            <h2>In Game</h2>
            <br /><h3>Custom Ban/Pick View 1</h3>
            In progress
            <br />
            <br /><h3>Custom Runes View 1</h3>
            In progress
            <br />
            <br /><h3>Custom Overlay View 1</h3>
            In progress
            <br />
            Link : Overlay
            Link : Ban/Pick
            Link : Runes
            
        </div>
    </div>
</div>
@code {

}
