@page "/ingame"

<PageTitle>In Game</PageTitle>
<div class="parent">
    <div class="inGame">
        <div class="content">
            <h1 class="title">In Game :</h1>

            @*View1*@
            <br /><div class="in-game-overlay-1">
                <h3>In Game Overlay 1 <button class="btn btn-primary button-form" style="background-color: darkred">Reset color and text</button></h3>
                <a class="btn btn-primary button-form" href="ingame/view1">Link Overlay 1</a>
            </div>

            <br /><div class="in-game-overlay-2">
                <h3>In Game Overlay 2 <button class="btn btn-primary button-form" style="background-color: darkred">Reset color and text</button></h3>
                <a class="btn btn-primary button-form" href="ingame/view2">Link Overlay 2</a>
            </div>

            <br /><div class="in-game-overlay-3">
                <h3>In Game Overlay 3 <button class="btn btn-primary button-form" style="background-color: darkred">Reset color and text</button></h3>
                <a class="btn btn-primary button-form" href="ingame/view3">Link Overlay 3</a>
            </div>

        </div>
    </div>
</div>
@code {

}
