/*##########################################################*/
/*######################## General #########################*/
/*##########################################################*/

@font-face {
    font-family: MyFont;
    src: url(../css/font/fonts/fontLoL.ttf);
}

div {
    font-family: MyFont;
    font-weight: bold;
}

.display-in-game {
    height: 1080px;
    width: 1920px;
    position: absolute;
}

/*##########################################################*/
/*########################## Top ###########################*/
/*##########################################################*/
.replay-info {
    position: absolute;
    top: 54px;
    left: 0px;
    justify-content: center;
    display: flex;
}

.replay-info-text {
    position: absolute;
    top: 0px;
}

.replay-info-text-position{
    font-size: 42px;
}
/*##########################################################*/
/*########################## Team ##########################*/
/*##########################################################*/
.blue-player {
    position: absolute;
    bottom: 54px;
    left: 661px;
    display: flex;
}

    .blue-player .blue-player-frame {
        position: relative;
        margin-right: 14px;
    }

        .blue-player .blue-player-frame:nth-child(2) {
            margin-right: 16px;
        }

.red-player {
    position: absolute;
    bottom: 54px;
    right: 662px;
    display: flex;
    flex-direction: row-reverse;
}

    .red-player .red-player-frame {
        position: relative;
        margin-left: 14px;
    }

        .red-player .red-player-frame:nth-child(3) {
        }

        .red-player .red-player-frame:nth-child(1) {
            margin-left: 15px;
        }

        .red-player .red-player-frame:nth-child(5) {
        }