@page "/ingame"

<PageTitle>In Game</PageTitle>
<div class="parent">
    <div class="inGame">
        <div class="content">
            <h2>In Game</h2>
            Link : Overlay
            Link : Ban/Pick
            Link : Runes
            
        </div>
    </div>
</div>
@code {

}
