@page "/recaplinkoverlay"

<PageTitle>Recap Link Overlay</PageTitle>
<div class="parent">
    <div class="recapLinkOverlay">
        <div class="content">
            <h2>Recap Link Overlay</h2>
        </div>
    </div>
    <div>
        <br>
        <h4><u>Waiting a Game : </u></h4>
        <button class="btn btn-primary button-form" @onclick="GenerateLink"> Generate link</button>
        <br /><br /><div><a href="@linkWaitingAGame" target="_blank" style="background-color: black; border: solid">@linkWaitingAGame</a></div><br />
        <h4><u>Champ Select : </u></h4>
        <h4><u>Waiting Game Start : </u></h4>
        <h4><u>In Game : </u></h4>
        <h4><u>End Game : </u></h4>
    </div>
</div>

@code {

}
