@page "/testcdragon"
<PageTitle>CDragon</PageTitle>

<h3>Update data CDragon</h3>
<br /><h5>What is update update :</h5>
- <b>Champion</b> : square, sound, splashe, splashe uncentered, loading screen, data information 
<br />- <b>Items</b> : icon, data information
<br />- <b>Perks</b> : icon, data information
<br />- <b>Summoners</b> Spell : icon, data information

<br /><br />
<h5>Default</h5>
In default this information are updated automaticly <b>(last update :  @DateTime.Now)</b> 
<div>    

</div>
<br />- <b>Patch</b> : latest <b>(numpatch)</b>
<br />- <b>Region</b> : fr_fr, en_gb
<br />If you whant a previous patch for display information, fill in the following gaps (it is possible that it does not work you have by default the <b>"latest"</b> patch):
@code {
    
}

