@page "/waitinggamestart"

<PageTitle>Wainting Game Start</PageTitle>
<div class="parent">
    <div class="waintingGameStart">
        <div class="content">
            <h2>Wainting Game Start</h2>
        </div>
    </div>
</div>
@code {

}
