@page "/waitinggame"

<PageTitle>Waiting a Game</PageTitle>
<div class="parent">
    <div class="waitingAGame">
        <div class="content">
            <h2>Waiting a Game</h2>
        </div>
    </div>
</div>
@code {

}
