@page "/"

<PageTitle>OSL-Server</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true">OSL-Server</MudText>

<MudText Typo="Typo.body2">
    This application allows you to retrieve data from the League of Legends client and various RIOT APIs.
    It sends those informations to OSL-Overlay.
</MudText>
<br />
<MudAlert Severity="Severity.Normal" ContentAlignment="HorizontalAlignment.Start">
    You will find some information on this page, but the full documentation is available here:
    <MudLink Href="https://doc.osl.sky-csc.fr" Target="_blank" Typo="Typo.body2" Color="Color.Primary">
        <b>OSL web site documentation</b>
    </MudLink>
</MudAlert>
<br />
<MudText Typo="Typo.h5" GutterBottom="true">Requirements</MudText>
<MudText Typo="Typo.body2">
    <div class="doc-box doc-requirement">
        <b>💻 To use this application you need :</b><br>
        - <MudLink Href="https://www.leagueoflegends.com" Target="_blank">League of Legend client</MudLink>
        <br />
        - <MudLink Href="https://developer.riotgames.com/apis" Target="_blank">Riot Developer Api key</MudLink> 
    </div>
</MudText>
<br />
<MudText Typo="Typo.h5" GutterBottom="true">Pages</MudText>

<MudText Typo="Typo.h6" GutterBottom="true">Web Socket config</MudText>
<MudText Typo="Typo.body2">
    <OSL_UI.Box.Tip Title="WebSocket Configuration"
                    Text="This page lets you configure the WebSocket server settings,
    including the listening address, port, authentication token, and startup behavior.
    <br/> It also provides controls to restart and monitor the server connection. " />
</MudText>
<MudText Typo="Typo.h6" GutterBottom="true">League Client</MudText>
<MudText Typo="Typo.body2">
    <OSL_UI.Box.Tip Title="League of Legends application"
                    Text="Display if it is running or not. <br/> Further features are currently being developed" />
</MudText>
<MudText Typo="Typo.h6" GutterBottom="true">Riot Api</MudText>
<MudText Typo="Typo.body2">
    <OSL_UI.Box.Tip Title="Online RIOT api"
                    Text="Manage riot api key for get date from riot api web site." />
</MudText>
<MudText Typo="Typo.h6" GutterBottom="true">OSL League Director</MudText>
<MudText Typo="Typo.body2">
    <OSL_UI.Box.Build Title="Module currently under development"
                      Text="OSL League Director is a tool for staging and recording videos from League of Legends replays." />
</MudText>
