@* ---------------- Blink ---------------- *@
<div class="blink" style="background:@Color;"></div>

@code{
    [Parameter] public string Color { get; set; } = "radial-gradient(ellipse, #00000000 25%, #0b849e 100%)";
}
