@* ---------------- Image ----------------*@
<div class="image" style="background:@Background">
    <img class="image-img" src="@ImageUrl" style="border:@Border" />
</div>

@code {
    [Parameter] public string ImageUrl { get; set; } = string.Empty;
    [Parameter] public string Background { get; set; } = string.Empty;
    [Parameter] public string Border { get; set; } = string.Empty;
}
