@using OSL_Overlay.Phase.ChampSelect

@* ---------------- Text ----------------*@
<div class="text" style="font-family:@Text.Font; color:@Text.Color;">
    <span>@Text.Txt</span>
</div>

@code {
    [Parameter] required public Text Text { get; set; }
}
