@using OSL_Overlay.Phase.Bo

@* ---------------- Display BO graphic ---------------- *@
<div class="@Class">
    @for (int i = 0; i < Bo.NbMatchForWin; i++)
    {
        @* ---------------- Win ---------------- *@
        if (i < Bo.NbWin)
        {
            <div class="bo-graphic-slot" style="background:@Bo.Win.Background; border:@Bo.Win.Border;"></div>
        }
        @* ---------------- Undef ---------------- *@
        else
        {
            <div class="bo-graphic-slot" style="background:@Bo.Undef.Background; border:@Bo.Undef.Border;"></div>
        }
    }
</div>

@code {
    [Parameter] public string Class { get; set; } = string.Empty;
    [Parameter] required public BoGraphic Bo { get; set; }
}
