<div class="doc-box doc-error">
    <b>❌ @Title</b><br>
    @Text
</div>

@code {
    [Parameter] public string Title { get; set; } = "Error";
    [Parameter] public string Text { get; set; } = "Text ...";
}
