<div class="doc-box doc-info">
    <b>ℹ️ @Title</b><br>
    @Text
</div>

@code {
    [Parameter] public string Title { get; set; } = "Information";
    [Parameter] public string Text { get; set; } = "Text ...";
}
