<div class="doc-box doc-requirement">
    <b>🔒 @Title</b><br>
    @Text
</div>

@code {
    [Parameter] public string Title { get; set; } = "Requirement";
    [Parameter] public string Text { get; set; } = "Text ...";
}
