<div class="doc-box doc-tip">
    <b>💡 @Title</b><br>
    @Text
</div>

@code {
    [Parameter] public string Title { get; set; } = "Tip";
    [Parameter] public string Text { get; set; } = "Text ...";
}
