/*##########################################################*/
/*######################## General #########################*/
/*##########################################################*/

@font-face {
    font-family: MyFont;
    src: url(../css/font/fonts/fontLoL.ttf);
}

html, body {
    background-color: black;
    color: white;
}

.title {
    font-family: MyFont;
    font-weight: bold;
    text-decoration: underline;
}

.button-color {
    height: 30px;
    width: 30px;
}

.champ-select-overlay-1 {
    margin: auto;
    position: relative;
}

.color-picker {
    position: absolute;
    left: 900px;
    top: 1000px;
    border: 5px solid black;
}
