/*##########################################################*/
/*######################## General #########################*/
/*##########################################################*/

@font-face {
    font-family: MyFont;
    src: url(../css/font/BeaufortForLoL-OTF/BeaufortforLOL-Bold.otf);
}

html, body {
    background-color: black;
    color: white;
}

.title {
    font-family: MyFont;
    font-weight: bold;
    text-decoration: underline;
}

.endGameView3 {
    width: 1920px;
    height: 1080px;
    position: absolute;
    /*background: url(./assets/endgame/image3.png);*/
    /*background-image: linear-gradient(90deg, #0b849e 0%, #be1e37 100%);*/
}

.content {
    /*position: absolute;*/
    width: 1920px;
    height: 1080px;
    position: absolute;
}


/*##########################################################*/
/*######################## top-bar #########################*/
/*##########################################################*/

.top-bar {
    /*visibility: hidden;*/
    top: 40px;
    left: 90px;
    position: absolute;
    height: 215px;
    width: 810px;
    /*background-image: linear-gradient(90deg, #0b849e 0%, #be1e37 100%);*/
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

.top-bar-gradiant {
    height: 215px;
    width: 810px;
    position: absolute;
    /*background-image: linear-gradient( to right, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0.72) 50%, rgba(0, 0, 0, 0.72) 100% );*/
}

.top-bar-border {
    height: 215px;
    width: 810px;
    position: absolute;
    /*border: 5px solid #c99d53;*/
}

.top-bar-team {
    display: flex;
    font-family: MyFont;
    font-size: 42px;
    justify-content: center;
    align-items: center;
}

.top-bar-blue-team {
    position: absolute;
    left: 20px;
    top: 20px;
}

.top-bar-blue-team-name {
    padding-left: 20px;
}

.top-bar-team-score {
    position: relative;
    display: flex;
    top: 50px;
}

.top-bar-separation-team-score{
    margin-left: 10px;
    margin-right: 10px;
}

.top-bar-red-team {
    position: absolute;
    right: 20px;
    top: 20px;
    text-align: right;
}

.top-bar-red-team-name {
    padding-right: 20px;
}

.top-bar-timer {
    top: 80px;
    display: flex;
    font-family: MyFont;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.timer-text{
    padding-right: 10px;
}
/*##########################################################*/
/*##################### champion-info ######################*/
/*##########################################################*/
.champion-info {
    /*visibility: hidden;*/
    top: 480px;
    left: 950px;
    position: absolute;
    height: 515px;
    width: 885px;
    /*background-image: linear-gradient(90deg, #0b849e 0%, #be1e37 100%);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.champion-info-gradiant {
    height: 515px;
    width: 885px;
    position: absolute;
    /*background-image: linear-gradient( to right, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0.72) 50%, rgba(0, 0, 0, 0.72) 100% );*/
}

.champion-info-border {
    height: 515px;
    width: 885px;
    position: absolute;
    /*border: 5px solid #c99d53;*/
}


.champion-info-stats {
    text-align: center;
    display: flex;
    justify-content: center;
}

.champion-info-stats-text {
    /*left: 0px;*/
    top: 0px;
    padding: 20px;
    font-family: MyFont;
    font-size: 32px;
    position: absolute;
    width: 600px;
    /*color: #c99d53;*/
}

.champion-info-stats-blue {
    top: 70px;
    left: 5px;
    position: absolute;
}

.champion-info-stats-blue-group {
    display: flex;
}

.champion-info-stats-blue-group-info {
    left: 80px;
    position: absolute;
}

.champion-info-stats-blue-group-text {
    top: -5px;
    font-family: MyFont;
    font-size: 30px;
    left: 10px;
    position: absolute;
}

.champion-info-stats-blue-group-bar {
    height: 35px;
    width: 200px;
    top: 35px;
    left: 0.2px;
    /*background-color: #0b849e;*/
    position: absolute;
}

.champion-info-stats-red-group {
    display: flex;
}

.champion-info-stats-red-group-info {
    right: 80px;
    position: absolute;
}

.champion-info-stats-red-group-text {
    top: -5px;
    font-family: MyFont;
    font-size: 30px;
    right: 10px;
    position: absolute;
}

.champion-info-stats-red-group-bar {
    height: 35px;
    width: 200px;
    top: 35px;
    right: 0.2px;
    /*background-color: #be1e37;*/
    position: absolute;
}

.champion-info-stats-red {
    top: 70px;
    right: 5px;
    position: absolute;
}

.pick-wrapper{
    padding-bottom: 10px;
}

.pick-picture {
    height: 80px;
}

/*##########################################################*/
/*########################## Bans ##########################*/
/*##########################################################*/

.bans {
    /*visibility: hidden;*/
    top: 890px;
    /*top: 645px;*/
    left: 90px;
    height: 110px;
    width: 810px;
    position: absolute;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    /*border-bottom: 2px solid #ffffff;*/
    /*color: #c99d53;*/
    /*background-image: linear-gradient(90deg, #0b849e 0%, #be1e37 100%);*/
}

.bans-gradiant {
    height: 110px;
    width: 810px;
    position: absolute;
    /*border-bottom: 2px solid #ffffff;*/
    /*background-image: linear-gradient( to right, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0.72) 50%, rgba(0, 0, 0, 0.72) 100% );*/
}

.bans-border {
    height: 110px;
    width: 810px;
    position: absolute;
    /*border: 5px solid #c99d53;*/
}

.bans-info {
    position: absolute;
    display: flex;
    align-items: center;
    /*border-top: 2px solid #ffffff;*/
    /*border-bottom: 2px solid #ffffff;*/
}

.bans-info-blue {
    display: flex;
    box-sizing: border-box;
}

    .bans-info-blue .bans-wrapper {
        padding-left: 10px;
    }

.bans-info-red {
    display: flex;
    box-sizing: border-box;
}

.bans-info-red .bans-wrapper {
    padding-right: 10px;
}

.bans-picture {
    height: 61px;
}

.bans-info-text {
    padding-left: 7.4px;
    padding-right: 7.4px;
    font-family: MyFont;
    font-size: 30px;
}


/*##########################################################*/
/*###################### global-stats ######################*/
/*##########################################################*/

.global-stats {
    /*visibility: hidden;*/
    top: 290px;
    left: 90px;
    position: absolute;
    height: 600px;
    width: 810px;
    /*background-image: linear-gradient(90deg, #0b849e 0%, #be1e37 100%);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.global-stats-gradiant {
    height: 600px;
    width: 810px;
    position: absolute;
    /*background-image: linear-gradient( to right, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0.72) 50%, rgba(0, 0, 0, 0.72) 100% );*/
}

.global-stats-border {
    height: 600px;
    width: 810px;
    position: absolute;
    /*border: 5px solid #c99d53;*/
}

.global-stats-center {
    position: absolute;
    text-align: center;
    height: 600px;
}

.global-stats-center-info {
    font-family: MyFont;
    font-size: 30px;
    padding: 20px;
    /*color: #c99d53;*/
    /*border-top: 2px solid #ffffff;*/
}

.global-stats-center-info:nth-child(7) {
    /*border-bottom: 2px solid #ffffff;*/
}

.global-stats-blue {
    font-family: MyFont;
    font-size: 40px;
    height: 600px;
    width: 300px;
    left: 0px;
    position: absolute;
    /*text-align: center;*/
    justify-content: center;
    align-items: center;
}

.dragon-wrapper-info {
    /*width: 300px;*/
    height: 60px;
}

.global-stats-blue .dragon-wrapper {
    display: inline;
    padding-right: 12.5px;
}

.dragon-picture {
    height: 50px;
}

.global-stats-blue-info {
    padding: 12.5px;
    /*border-top: 2px solid #ffffff;*/
}
    .global-stats-blue-info:nth-child(7) {
        /*border-bottom: 2px solid #ffffff;*/
    }

.global-stats-red {
    font-family: MyFont;
    font-size: 40px;
    height: 600px;
    width: 300px;
    right: 0px;
    position: absolute;
    text-align: right;
    /*justify-content: center;*/
    /*align-items: center;*/
}

    .global-stats-red .dragon-wrapper {
        width: 84px;
        display: inline;
        padding-left: 12.5px;
    }

.global-stats-red-info {
    padding: 12.5px;
    /*border-top: 2px solid #ffffff;*/
}

    .global-stats-red-info:nth-child(7) {
        /*border-bottom: 2px solid #ffffff;*/
    }


/*##########################################################*/
/*####################### gold-diff ########################*/
/*##########################################################*/

.gold-diff {
    /*visibility: hidden;*/
    top: 50px;
    left: 950px;
    position: absolute;
    height: 400px;
    width: 885px;
    /*background-image: linear-gradient(90deg, #0b849e 0%, #be1e37 100%);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.gold-diff-gradiant {
    height: 400px;
    width: 885px;
    position: absolute;
    /*background-image: linear-gradient( to right, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0.72) 50%, rgba(0, 0, 0, 0.72) 100% );*/
}

.gold-diff-border {
    height: 400px;
    width: 885px;
    position: absolute;
    /*border: 5px solid #c99d53;*/
}

.gold-diff-text {
    /*left: 0px;*/
    top: 0px;
    padding: 20px;
    font-family: MyFont;
    font-size: 32px;
    position: absolute;
    /*width: 1300px;*/
    color: #c99d53;
}
