@page "/rune/view1/customize"

@* ---------------- Rune management ---------------- *@
<PageTitle>Rune - Management</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true" Style="text-decoration-line: underline; font-weight:bold;"><b>Rune management</b></MudText>

<div style="padding:14px;border-left:5px solid #ffc107;background:#fff8e1;border-radius:6px;color:#7a5c00;">
    <b>🚧 Customisation of this module is currently being developed</b><br>
    Todo :
    <br />- Customization of runes displayed
</div>

@code {

}
