/*##########################################################*/
/*######################## General #########################*/
/*##########################################################*/

@font-face {
    font-family: MyFont;
    src: url(../css/font/fonts/fontLoL.ttf);
}

div {
    font-family: MyFont;
    font-weight: bold;
}

.display-in-game {
    height: 1080px;
    width: 1920px;
    position: absolute;
}

/*##########################################################*/
/*########################## Timer #########################*/
/*##########################################################*/
.dragon-timer-frame {
    position: absolute;
    top: 19px;
    left: 22px;
}

.herald-baron-timer-frame {
    position: absolute;
    top: 19px;
    right: 24px;
    background: #0f1d1f;
}

.herald-frame {
    position: absolute;
    top: 13.5px;
    right: 50px;
    height: 55px;
}

.herald-frame-center {
    position: absolute;
    top: 13.5px;
    right: 33px;
    height: 55px;
}

.herald-timer {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 30px;
    text-shadow: 0.1em 0.1em 0.2em black
}

.baron-frame {
    position: absolute;
    top: 12.5px;
    right: 49px;
    height: 58px;
}

.baron-frame-center {
    position: absolute;
    top: 12.5px;
    right: 33px;
    height: 58px;
}

.baron-timer {
    position: absolute;
    top: 30px;
    right: 39px;
    font-size: 30px;
    text-shadow: 0.1em 0.1em 0.2em black
}

.elder-frame {
    position: absolute;
    top: 14px;
    left: 15px;
    height: 55px;
}

.elder-frame-center {
    position: absolute;
    top: 14px;
    left: 32px;
    height: 55px;
}

.elder-timer {
    position: absolute;
    top: 30px;
    left: 87px;
    font-size: 30px;
    text-shadow: 0.1em 0.1em 0.2em black
}

.baron-frame-blink {
    animation: baron-blink 2s linear infinite;
}

@keyframes baron-blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.elder-frame-blink {
    animation: elder-blink 2s linear infinite;
}

@keyframes elder-blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*##########################################################*/
/*######################### Banner #########################*/
/*##########################################################*/
.blue-team {
    position: absolute;
    top: 0px;
    left: 231px;
    height: 63px;
    width: 236px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.blue-team-score-banner {
    position: absolute;
    height: 40px;
    width: 75px;
    clip-path: inset(0 20px 0 0);
    left: -50px;
    top: 0px;
}

.blue-team-score {
    position: absolute;
    top: 0px;
    left: -50px;
    width: 60px;
    height: 40px;
    justify-content: center;
    display: flex;
    padding-top: 3px;
    font-size: 15px;
}

.red-team-score-banner {
    position: absolute;
    height: 40px;
    width: 75px;
    clip-path: inset(0 20px 0 0);
    right: -50px;
    top: 0px;
    transform: scaleX(-1);
}

.red-team-score {
    position: absolute;
    top: 0px;
    right: -50px;
    width: 60px;
    height: 40px;
    justify-content: center;
    display: flex;
    padding-top: 3px;
    font-size: 15px;
}

.blue-team-banner {
    position: absolute;
    height: 63px;
    width: 236px;
}

.blue-team-text {
    padding-left: 14px;
    padding-right: 14px;
    position: absolute;
    text-align: center;
    font-size: 22px;
    line-height: 22px;
}

.red-team {
    position: absolute;
    top: 0px;
    right: 218px;
    height: 63px;
    width: 236px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.red-team-banner {
    position: absolute;
    height: 63px;
    width: 236px;
}

.red-team-text {
    padding-left: 14px;
    padding-right: 14px;
    position: absolute;
    text-align: center;
    font-size: 22px;
    line-height: 22px;
}


/*##########################################################*/
/*########################## Team ##########################*/
/*##########################################################*/
.blue-player {
    position: absolute;
    top: 156px;
    left: 28px;
    display: flex;
    flex-direction: column;
}

    .blue-player .blue-player-frame {
        position: relative;
        margin-bottom: 57px;
    }

.order-baron-buff {
    height: 130px;
    /*width: 125px;*/
    /*aspect-ratio: unset;*/
    animation: baron-blink 5s linear infinite;
}

@keyframes baron-blink {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.order-baron-elder-buff-animation-0 {
    position: absolute;
    top: 139px;
    left: -5px;
}

.order-baron-elder-buff-animation-1 {
    position: absolute;
    top: 242px;
    left: -5px;
}

.order-baron-elder-buff-animation-2 {
    position: absolute;
    top: 345px;
    left: -5px;
}

.order-baron-elder-buff-animation-3 {
    position: absolute;
    top: 448px;
    left: -5px;
}

.order-baron-elder-buff-animation-4 {
    position: absolute;
    top: 551px;
    left: -5px;
}


.chaos-baron-buff {
    height: 130px;
    /*width: 125px;*/
    /*aspect-ratio: unset;*/
    animation: baron-blink 5s linear infinite;
    transform: scaleX(-1);
}

.chaos-baron-elder-buff-animation-0 {
    position: absolute;
    top: 139px;
    right: -5px;
}

.chaos-baron-elder-buff-animation-1 {
    position: absolute;
    top: 242px;
    right: -5px;
}

.chaos-baron-elder-buff-animation-2 {
    position: absolute;
    top: 345px;
    right: -5px;
}

.chaos-baron-elder-buff-animation-3 {
    position: absolute;
    top: 448px;
    right: -5px;
}

.chaos-baron-elder-buff-animation-4 {
    position: absolute;
    top: 551px;
    right: -5px;
}

/*.order-baron-buff-animation:nth-child(1) {
    position: absolute;
    top: 139px;
    left: -5px;
}

.order-baron-buff-animation:nth-child(2) {
    position: absolute;
    top: 242px;
    left: -5px;
}

.order-baron-buff-animation:nth-child(3) {
    position: absolute;
    top: 345px;
    left: -5px;
}

.order-baron-buff-animation:nth-child(4) {
    position: absolute;
    top: 448px;
    left: -5px;
}

.order-baron-buff-animation:nth-child(5) {
    position: absolute;
    top: 551px;
    left: -5px;
}*/

.order-elder-buff {
    height: 130px;
    /*width: 125px;*/
    /*aspect-ratio: unset;*/
    animation: elder-blink 5s linear infinite;
}

.chaos-elder-buff {
    height: 130px;
    /*width: 125px;*/
    /*aspect-ratio: unset;*/
    animation: elder-blink 5s linear infinite;
    transform: scaleX(-1);
}

@keyframes elder-blink {
    0% {
        opacity: 0.6;
    }

    40% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.1;
    }

    60% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.6;
    }
}


.red-player {
    position: absolute;
    top: 156px;
    right: 29px;
    display: flex;
    flex-direction: column;
}

    .red-player .red-player-frame {
        position: relative;
        margin-bottom: 57px;
    }

/*##########################################################*/
/*######################### Items ##########################*/
/*##########################################################*/

.order-item-wrapper-0 {
    position: absolute;
    top: 153px;
    left: 3px;
    z-index: 100;
}

.order-item-wrapper-1 {
    position: absolute;
    top: 256px;
    left: 3px;
    z-index: 100;
}

.order-item-wrapper-2 {
    position: absolute;
    top: 359px;
    left: 3px;
    z-index: 100;
}

.order-item-wrapper-3 {
    position: absolute;
    top: 462px;
    left: 3px;
    z-index: 100;
}

.order-item-wrapper-4 {
    position: absolute;
    top: 564px;
    left: 3px;
    z-index: 100;
}

.chaos-item-wrapper-0 {
    position: absolute;
    top: 153px;
    right: 3px;
    z-index: 100;
}

.chaos-item-wrapper-1 {
    position: absolute;
    top: 256px;
    right: 3px;
    z-index: 100;
}

.chaos-item-wrapper-2 {
    position: absolute;
    top: 359px;
    right: 3px;
    z-index: 100;
}

.chaos-item-wrapper-3 {
    position: absolute;
    top: 462px;
    right: 3px;
    z-index: 100;
}

.chaos-item-wrapper-4 {
    position: absolute;
    top: 564px;
    right: 3px;
    z-index: 100;
}

.order-item-wrapper-frame .order-item-info {
    height: 74px;
    width: 0px;
    background-color: #0b849e;
    animation: item-slide-background 4.30s 1 linear;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.chaos-item-wrapper-frame .chaos-item-info {
    height: 74px;
    width: 0px;
    background-color: #be1e37;
    animation: item-slide-background 4.30s 1 linear;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.order-item-img, .chaos-item-img {
    height: 64px;
    width: 0px;
    animation: item-slide-image 4.30s 1 linear;
}

/*.order-item-text {
    font-size: 10px;*/
/*height: 72px;
    width: 77px;*/
/*display: table-cell;
    vertical-align: middle;
    text-align: center;
    animation: order-item-text 4s 1 linear;
    transform: translateY(-100%);
}*/

@keyframes item-slide-background {
    0% {
        /*opacity: 0;*/
        width: 0px;
    }

    7% {
        /*opacity: 1;*/
        width: 74px;
    }

    99% {
        /*opacity: 1;*/
        width: 74px;
    }
}

@keyframes item-slide-image {
    0% {
        /*opacity: 0;*/
        width: 0px;
    }

    7% {
        /*opacity: 1;*/
        width: 64px;
    }

    99% {
        /*opacity: 1;*/
        width: 64px;
    }
}

/*@keyframes order-item-text {
    0% {
        transform: translateX(-100%);
    }

    5% {
        transform: translateX(0%);
    }

    99% {
        transform: translateY(0%);
    }
}*/

.perks-wrapper {
    position: absolute;
    top: 156px;
    left: 28px;
    display: flex;
    flex-direction: column;
}

    .perks-wrapper .perks-wrapper-frame {
        position: relative;
        margin-bottom: 57px;
        animation-name: fade;
        animation-duration: 5.5s;
        animation-iteration-count: 3;
    }

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.order-items-score-display-0 {
    position: absolute;
    top: 855px;
    left: 611px;
    z-index: 100;
}

.order-items-score-display-1 {
    position: absolute;
    top: 899px;
    left: 611px;
    z-index: 100;
}

.order-items-score-display-2 {
    position: absolute;
    top: 943px;
    left: 611px;
    z-index: 100;
}

.order-items-score-display-3 {
    position: absolute;
    top: 987px;
    left: 611px;
    z-index: 100;
}

.order-items-score-display-4 {
    position: absolute;
    top: 1031px;
    left: 611px;
    z-index: 100;
}

.order-items-score-display {
    position: absolute;
    /*height: 43px;*/
    height: 0px;
    width: 354px;
    background: linear-gradient(90deg, #081110 0%, #07161b 100%);
    /*border: 2px solid #0b849e;*/
    border: 0px solid #0b849e;
    animation: order-item-slide-score 7s 1 linear;
    overflow: hidden;
}

.order-item-score-info {
    display: flex;
    justify-content: right;
    opacity: 1;
}

.order-item-score-img {
    height: 39px;
}

.order-item-score-text {
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

@keyframes order-item-slide-score {
    0% {
        border: 2px solid #0b849e;
        height: 0px;
    }

    7% {
        border: 2px solid #0b849e;
        height: 43px;
    }

    93% {
        border: 2px solid #0b849e;
        height: 43px;
    }

    99% {
        border: 2px solid #0b849e;
        height: 0px;
    }
}

.chaos-items-score-display-0 {
    position: absolute;
    top: 855px;
    right: 951px;
    z-index: 100;
}

.chaos-items-score-display-1 {
    position: absolute;
    top: 899px;
    right: 951px;
    z-index: 100;
}

.chaos-items-score-display-2 {
    position: absolute;
    top: 943px;
    right: 951px;
    z-index: 100;
}

.chaos-items-score-display-3 {
    position: absolute;
    top: 987px;
    right: 951px;
    z-index: 100;
}

.chaos-items-score-display-4 {
    position: absolute;
    top: 1031px;
    right: 951px;
    z-index: 100;
}

.chaos-items-score-display {
    position: absolute;
    /*height: 43px;*/
    height: 0px;
    width: 354px;
    background: linear-gradient(90deg, #1a100d 0%, #08100f 100%);
    /*border: 2px solid #be1e37;*/
    border: 0px solid #be1e37;
    animation: chaos-item-slide-score 7s 1 linear;
    overflow: hidden;
}

.chaos-item-score-info {
    display: flex;
    justify-content: left;
    opacity: 1;

}

.chaos-item-score-img {
    height: 39px;
}

.chaos-item-score-text {
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

@keyframes chaos-item-slide-score {
    0% {
        border: 2px solid #be1e37;
        height: 0px;
    }

    7% {
        border: 2px solid #be1e37;
        height: 43px;
    }

    93% {
        border: 2px solid #be1e37;
        height: 43px;
    }

    99% {
        border: 2px solid #be1e37;
        height: 0px;
    }
}

/*##########################################################*/
/*######################### Level ##########################*/
/*##########################################################*/
.order-level-wrapper-0 {
    position: absolute;
    top: 153px;
    left: 3px;
    z-index: 100;
}

.order-level-wrapper-1 {
    position: absolute;
    top: 256px;
    left: 3px;
    z-index: 100;
}

.order-level-wrapper-2 {
    position: absolute;
    top: 359px;
    left: 3px;
    z-index: 100;
}

.order-level-wrapper-3 {
    position: absolute;
    top: 462px;
    left: 3px;
    z-index: 100;
}

.order-level-wrapper-4 {
    position: absolute;
    top: 564px;
    left: 3px;
    z-index: 100;
}

    .order-level-wrapper-0 .order-level-wrapper-frame, .order-level-wrapper-1 .order-level-wrapper-frame, .order-level-wrapper-2 .order-level-wrapper-frame, .order-level-wrapper-3 .order-level-wrapper-frame, .order-level-wrapper-4 .order-level-wrapper-frame {
        height: 74px;
        width: 0px;
        background-color: #0b849e;
        animation: level-slide-background 4.30s 1 linear;
        /*opacity: 0;*/
        overflow: hidden;
    }

.order-level-text {
    font-size: 40px;
    height: 74px;
    width: 77px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    animation: level-slide-text 4s 1 linear;
    transform: translateY(-100%);
}

.chaos-level-wrapper-0 {
    position: absolute;
    top: 153px;
    right: 3px;
    z-index: 100;
}

.chaos-level-wrapper-1 {
    position: absolute;
    top: 256px;
    right: 3px;
    z-index: 100;
}

.chaos-level-wrapper-2 {
    position: absolute;
    top: 359px;
    right: 3px;
    z-index: 100;
}

.chaos-level-wrapper-3 {
    position: absolute;
    top: 462px;
    right: 3px;
    z-index: 100;
}

.chaos-level-wrapper-4 {
    position: absolute;
    top: 564px;
    right: 3px;
    z-index: 100;
}

    .chaos-level-wrapper-0 .chaos-level-wrapper-frame, .chaos-level-wrapper-1 .chaos-level-wrapper-frame, .chaos-level-wrapper-2 .chaos-level-wrapper-frame, .chaos-level-wrapper-3 .chaos-level-wrapper-frame, .chaos-level-wrapper-4 .chaos-level-wrapper-frame {
        height: 74px;
        width: 0px;
        background-color: #be1e37;
        animation: level-slide-background 4.30s 1 linear;
        /*opacity: 0;*/
        overflow: hidden;
    }

.chaos-level-text {
    font-size: 40px;
    height: 74px;
    width: 77px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    animation: level-slide-text 4s 1 linear;
    transform: translateY(-100%);
}

@keyframes level-slide-background {
    0% {
        opacity: 0;
        width: 0px;
        /*margin: 0px 0px 0px -100px;*/
    }
    /*5% {
        opacity: 1;
        width: 70px;*/
    /*margin: 0px 0px 0px 100px;*/
    /*}*/
    7% {
        opacity: 1;
        width: 78px;
        /*margin: 0px 0px 0px 100px;*/
    }

    99% {
        opacity: 1;
        width: 78px;
        /*width: 46px;*/
        /*margin: 0px 0px 0px 100px;*/
    }
    /*100% {
        opacity: 0;
        width: 0px;*/
    /*margin: 0px 0px 0px -100px;*/
    /*}*/
}

@keyframes level-slide-text {
    0% {
        transform: translateX(-100%);
        /*opacity: 0;*/
        /*margin: 0px 0px 0px -100px;*/
    }

    5% {
        transform: translateX(0%);
        /*opacity: 1;*/
        /*margin: 0px 0px 0px 100px;*/
    }

    99% {
        transform: translateY(0%);
        /*opacity: 1;*/
        /*width: 46px;*/
        /*margin: 0px 0px 0px 100px;*/
    }
    /*100% {
        transform: translateY(-100%);*/
    /*opacity: 1;*/
    /*width: 46px;*/
    /*margin: 0px 0px 0px 100px;*/
    /*}*/
    /*100% {
        opacity: 0;
        width: 0px;*/
    /*margin: 0px 0px 0px -100px;*/
    /*}*/
}
/*##########################################################*/
/*######################### Dragon #########################*/
/*##########################################################*/

.dragon-banner-kill, dragon-banner-kill-order, dragon-banner-kill-chaos {
    position: absolute;
}

.dragon-banner-kill-order-banner {
    position: absolute;
    height: 50px;
    left: 659px;
    /*left: 659px;*/
    top: 58px;
}

.dragon-banner-kill-chaos-banner {
    position: absolute;
    height: 50px;
    left: 1033px;
    top: 58px;
}


.dragon-banner-kill-order-icon:nth-child(1) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 839.7px;
}

.dragon-banner-kill-order-icon:nth-child(2) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 784.7px;
}

.dragon-banner-kill-order-icon:nth-child(3) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 730px;
}

.dragon-banner-kill-order-icon:nth-child(4) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 675px;
}

.dragon-banner-kill-chaos-icon:nth-child(1) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 1049px;
}

.dragon-banner-kill-chaos-icon:nth-child(2) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 1104px;
}

.dragon-banner-kill-chaos-icon:nth-child(3) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 1159px;
}

.dragon-banner-kill-chaos-icon:nth-child(4) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 1214px;
}

/*.dragon-banner-kill-order-icon:nth-child(1) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 839.7px;
}

.dragon-banner-kill-order-icon:nth-child(2) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 784.7px;
}

.dragon-banner-kill-order-icon:nth-child(3) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 730px;
}

.dragon-banner-kill-order-icon:nth-child(4) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 675px;
}*/

/*##########################################################*/
/*######################### Inhib #########################*/
/*##########################################################*/
/*.inhib-frame {
    position: absolute;
    height: 50px;
    width: 50px;
}*/

.inhib-frame .inhib-background-gradiant {
    /*top: 641px;*/
    top: 664px;
    right: 3px;
    width: 160px;
    height: 140px;
    position: absolute;
    display: flex;
}

.inhib-frame .inhib-background-color {
    width: 160px;
    height: 140px;
}

.inhib-border {
    width: 160px;
    height: 140px;
    position: absolute;
}

.order-inhib-frame-picture-top {
    position: absolute;
    right: 121px;
    top: 665px;
    height: 30px;
}

.order-inhib-frame-picture-mid {
    position: absolute;
    right: 67px;
    top: 665px;
    height: 30px;
}

.order-inhib-frame-picture-bot {
    position: absolute;
    right: 15px;
    top: 665px;
    height: 30px;
}

.chaos-inhib-frame-picture-top {
    position: absolute;
    right: 121px;
    top: 773px;
    height: 30px;
}

.chaos-inhib-frame-picture-mid {
    position: absolute;
    right: 67px;
    top: 773px;
    height: 30px;
}

.chaos-inhib-frame-picture-bot {
    position: absolute;
    right: 15px;
    top: 773px;
    height: 30px;
}

.center-inhib-picture {
    position: absolute;
    right: 70.5px;
    top: 721px;
    height: 25px;
}


.order-inhib-frame-timer-top {
    position: absolute;
    right: 116px;
    top: 690px;
    font-size: 20px;
    height: 30px;
    width: 40px;
    text-align: center
}

.order-inhib-frame-timer-mid {
    position: absolute;
    right: 62px;
    top: 690px;
    font-size: 20px;
    height: 30px;
    width: 40px;
    text-align: center
}

.order-inhib-frame-timer-bot {
    position: absolute;
    right: 10px;
    top: 690px;
    font-size: 20px;
    height: 30px;
    width: 40px;
    text-align: center
}

.chaos-inhib-frame-timer-top {
    position: absolute;
    right: 116px;
    top: 746px;
    font-size: 20px;
    height: 30px;
    width: 40px;
    text-align: center
}

.chaos-inhib-frame-timer-mid {
    position: absolute;
    right: 62px;
    top: 746px;
    font-size: 20px;
    height: 30px;
    width: 40px;
    text-align: center
}

.chaos-inhib-frame-timer-bot {
    position: absolute;
    right: 10px;
    top: 746px;
    font-size: 20px;
    height: 30px;
    width: 40px;
    text-align: center
}
/*##########################################################*/
/*######################### Bottom #########################*/
/*##########################################################*/
.left-info {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.right-info {
    position: absolute;
    bottom: 0px;
    right: 272px;
}
