/*##########################################################*/
/*######################## General #########################*/
/*##########################################################*/

@font-face {
    font-family: MyFont;
    src: url(../css/font/fonts/fontLoL.ttf);
}

div {
    font-family: MyFont;
    font-weight: bold;
}

.display-in-game {
    height: 1080px;
    width: 1920px;
    position: absolute;
}

/*##########################################################*/
/*########################## Timer #########################*/
/*##########################################################*/
.dragon-timer {
    position: absolute;
    top: 19px;
    left: 22px;
}

.herald-baron-timer {
    position: absolute;
    top: 19px;
    right: 24px;
}

/*##########################################################*/
/*######################### Banner #########################*/
/*##########################################################*/
.blue-team {
    position: absolute;
    top: 0px;
    left: 231px;
    height: 63px;
    width: 236px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.blue-team-score-banner {
    position: absolute;
    height: 40px;
    width: 75px;
    clip-path: inset(0 20px 0 0);
    left: -50px;
    top: 0px;
}

.blue-team-score {
    position: absolute;
    top: 0px;
    left: -50px;
    width: 60px;
    height: 40px;
    justify-content: center;
    display: flex;
    padding-top: 3px;
    font-size: 15px;
}

.red-team-score-banner {
    position: absolute;
    height: 40px;
    width: 75px;
    clip-path: inset(0 20px 0 0);
    right: -50px;
    top: 0px;
    transform: scaleX(-1);
}

.red-team-score {
    position: absolute;
    top: 0px;
    right: -50px;
    width: 60px;
    height: 40px;
    justify-content: center;
    display: flex;
    padding-top: 3px;
    font-size: 15px;
}

.blue-team-banner {
    position: absolute;
    height: 63px;
    width: 236px;
}

.blue-team-text {
    padding-left: 14px;
    padding-right: 14px;
    position: absolute;
    text-align: center;
    font-size: 22px;
    line-height: 22px;
}

.red-team {
    position: absolute;
    top: 0px;
    right: 218px;
    height: 63px;
    width: 236px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.red-team-banner {
    position: absolute;
    height: 63px;
    width: 236px;
}

.red-team-text {
    padding-left: 14px;
    padding-right: 14px;
    position: absolute;
    text-align: center;
    font-size: 22px;
    line-height: 22px;
}


/*##########################################################*/
/*########################## Team ##########################*/
/*##########################################################*/
.blue-player {
    position: absolute;
    top: 156px;
    left: 28px;
    display: flex;
    flex-direction: column;
}

    .blue-player .blue-player-frame {
        position: relative;
        margin-bottom: 57px;
    }

.red-player {
    position: absolute;
    top: 156px;
    right: 29px;
    display: flex;
    flex-direction: column;
}

    .red-player .red-player-frame {
        position: relative;
        margin-bottom: 57px;
    }

/*##########################################################*/
/*######################### Items ##########################*/
/*##########################################################*/

.order-item-wrapper-0 {
    position: absolute;
    top: 153px;
    left: 3px;
    z-index: 100;
}

.order-item-wrapper-1 {
    position: absolute;
    top: 256px;
    left: 3px;
    z-index: 100;
}

.order-item-wrapper-2 {
    position: absolute;
    top: 359px;
    left: 3px;
    z-index: 100;
}

.order-item-wrapper-3 {
    position: absolute;
    top: 462px;
    left: 3px;
    z-index: 100;
}

.order-item-wrapper-4 {
    position: absolute;
    top: 564px;
    left: 3px;
    z-index: 100;
}

.chaos-item-wrapper-0 {
    position: absolute;
    top: 153px;
    right: 3px;
    z-index: 100;
}

.chaos-item-wrapper-1 {
    position: absolute;
    top: 256px;
    right: 3px;
    z-index: 100;
}

.chaos-item-wrapper-2 {
    position: absolute;
    top: 359px;
    right: 3px;
    z-index: 100;
}

.chaos-item-wrapper-3 {
    position: absolute;
    top: 462px;
    right: 3px;
    z-index: 100;
}

.chaos-item-wrapper-4 {
    position: absolute;
    top: 564px;
    right: 3px;
    z-index: 100;
}

.order-item-wrapper-frame .order-item-info {
    height: 74px;
    width: 0px;
    background-color: #0b849e;
    animation: item-slide-background 4.30s 1 linear;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.chaos-item-wrapper-frame .chaos-item-info {
    height: 74px;
    width: 0px;
    background-color: #be1e37;
    animation: item-slide-background 4.30s 1 linear;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.order-item-img, .chaos-item-img {
    height: 64px;
    width: 0px;
    animation: item-slide-image 4.30s 1 linear;
}

/*.order-item-text {
    font-size: 10px;*/
/*height: 72px;
    width: 77px;*/
/*display: table-cell;
    vertical-align: middle;
    text-align: center;
    animation: order-item-text 4s 1 linear;
    transform: translateY(-100%);
}*/

@keyframes item-slide-background {
    0% {
        /*opacity: 0;*/
        width: 0px;
    }

    7% {
        /*opacity: 1;*/
        width: 74px;
    }

    99% {
        /*opacity: 1;*/
        width: 74px;
    }
}

@keyframes item-slide-image {
    0% {
        /*opacity: 0;*/
        width: 0px;
    }

    7% {
        /*opacity: 1;*/
        width: 64px;
    }

    99% {
        /*opacity: 1;*/
        width: 64px;
    }
}

/*@keyframes order-item-text {
    0% {
        transform: translateX(-100%);
    }

    5% {
        transform: translateX(0%);
    }

    99% {
        transform: translateY(0%);
    }
}*/

.perks-wrapper {
    position: absolute;
    top: 156px;
    left: 28px;
    display: flex;
    flex-direction: column;
}

    .perks-wrapper .perks-wrapper-frame {
        position: relative;
        margin-bottom: 57px;
        animation-name: fade;
        animation-duration: 5.5s;
        animation-iteration-count: 3;
    }

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*##########################################################*/
/*######################### Level ##########################*/
/*##########################################################*/

.order-level-wrapper-0 {
    position: absolute;
    top: 153px;
    left: 3px;
    z-index: 100;
}

.order-level-wrapper-1 {
    position: absolute;
    top: 256px;
    left: 3px;
    z-index: 100;
}

.order-level-wrapper-2 {
    position: absolute;
    top: 359px;
    left: 3px;
    z-index: 100;
}

.order-level-wrapper-3 {
    position: absolute;
    top: 462px;
    left: 3px;
    z-index: 100;
}

.order-level-wrapper-4 {
    position: absolute;
    top: 564px;
    left: 3px;
    z-index: 100;
}

    .order-level-wrapper-0 .order-level-wrapper-frame, .order-level-wrapper-1 .order-level-wrapper-frame, .order-level-wrapper-2 .order-level-wrapper-frame, .order-level-wrapper-3 .order-level-wrapper-frame, .order-level-wrapper-4 .order-level-wrapper-frame {
        height: 72px;
        width: 0px;
        background-color: #0b849e;
        animation: level-slide-background 4.30s 1 linear;
        /*opacity: 0;*/
        overflow: hidden;
    }

.order-level-text {
    font-size: 40px;
    height: 72px;
    width: 77px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    animation: level-slide-text 4s 1 linear;
    transform: translateY(-100%);
}

.chaos-level-wrapper-0 {
    position: absolute;
    top: 153px;
    right: 3px;
    z-index: 100;
}

.chaos-level-wrapper-1 {
    position: absolute;
    top: 256px;
    right: 3px;
    z-index: 100;
}

.chaos-level-wrapper-2 {
    position: absolute;
    top: 359px;
    right: 3px;
    z-index: 100;
}

.chaos-level-wrapper-3 {
    position: absolute;
    top: 462px;
    right: 3px;
    z-index: 100;
}

.chaos-level-wrapper-4 {
    position: absolute;
    top: 564px;
    right: 3px;
    z-index: 100;
}

    .chaos-level-wrapper-0 .chaos-level-wrapper-frame, .chaos-level-wrapper-1 .chaos-level-wrapper-frame, .chaos-level-wrapper-2 .chaos-level-wrapper-frame, .chaos-level-wrapper-3 .chaos-level-wrapper-frame, .chaos-level-wrapper-4 .chaos-level-wrapper-frame {
        height: 72px;
        width: 0px;
        background-color: #be1e37;
        animation: level-slide-background 4.30s 1 linear;
        /*opacity: 0;*/
        overflow: hidden;
    }

.chaos-level-text {
    font-size: 40px;
    height: 72px;
    width: 77px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    animation: level-slide-text 4s 1 linear;
    transform: translateY(-100%);
}

@keyframes level-slide-background {
    0% {
        opacity: 0;
        width: 0px;
        /*margin: 0px 0px 0px -100px;*/
    }
    /*5% {
        opacity: 1;
        width: 70px;*/
    /*margin: 0px 0px 0px 100px;*/
    /*}*/
    7% {
        opacity: 1;
        width: 78px;
        /*margin: 0px 0px 0px 100px;*/
    }

    99% {
        opacity: 1;
        width: 78px;
        /*width: 46px;*/
        /*margin: 0px 0px 0px 100px;*/
    }
    /*100% {
        opacity: 0;
        width: 0px;*/
    /*margin: 0px 0px 0px -100px;*/
    /*}*/
}

@keyframes level-slide-text {
    0% {
        transform: translateX(-100%);
        /*opacity: 0;*/
        /*margin: 0px 0px 0px -100px;*/
    }

    5% {
        transform: translateX(0%);
        /*opacity: 1;*/
        /*margin: 0px 0px 0px 100px;*/
    }

    99% {
        transform: translateY(0%);
        /*opacity: 1;*/
        /*width: 46px;*/
        /*margin: 0px 0px 0px 100px;*/
    }
    /*100% {
        transform: translateY(-100%);*/
    /*opacity: 1;*/
    /*width: 46px;*/
    /*margin: 0px 0px 0px 100px;*/
    /*}*/
    /*100% {
        opacity: 0;
        width: 0px;*/
    /*margin: 0px 0px 0px -100px;*/
    /*}*/
}
/*##########################################################*/
/*######################### Dragon #########################*/
/*##########################################################*/

.dragon-banner-kill, dragon-banner-kill-order, dragon-banner-kill-chaos {
    position: absolute;
}

.dragon-banner-kill-order-banner {
    position: absolute;
    height: 50px;
    left: 659px;
    /*left: 659px;*/
    top: 58px;
}

.dragon-banner-kill-chaos-banner {
    position: absolute;
    height: 50px;
    left: 1033px;
    top: 58px;
}


.dragon-banner-kill-order-icon:nth-child(1) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 839.7px;
}

.dragon-banner-kill-order-icon:nth-child(2) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 784.7px;
}

.dragon-banner-kill-order-icon:nth-child(3) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 730px;
}

.dragon-banner-kill-order-icon:nth-child(4) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 675px;
}

.dragon-banner-kill-chaos-icon:nth-child(1) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 1049px;
}

.dragon-banner-kill-chaos-icon:nth-child(2) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 1104px;
}

.dragon-banner-kill-chaos-icon:nth-child(3) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 1159px;
}

.dragon-banner-kill-chaos-icon:nth-child(4) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 1214px;
}

/*.dragon-banner-kill-order-icon:nth-child(1) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 839.7px;
}

.dragon-banner-kill-order-icon:nth-child(2) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 784.7px;
}

.dragon-banner-kill-order-icon:nth-child(3) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 730px;
}

.dragon-banner-kill-order-icon:nth-child(4) {
    position: absolute;
    height: 41.5px;
    top: 61px;
    left: 675px;
}*/


/*##########################################################*/
/*######################### Bottom #########################*/
/*##########################################################*/
.left-info {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.right-info {
    position: absolute;
    bottom: 0px;
    right: 272px;
}
