@page "/"
@using MudBlazor
<PageTitle>OSL</PageTitle>

<h1 class="title">Welcome to OSL!</h1>

<b>For more information for how to use this application see <a href="https://sky-csc.github.io/OSL/" target="_blank">documentation</a></b>
<br />
<br />

<div class="">
    <h2 class="title">Change IP OSL-Client :</h2>
    <div class="alert-warning" style="width: 430px">
        <strong>Warning!</strong>
        <br>No forget to change ip of OSL-Client before running it
    </div>
    <br /><b>Copy-paste this ip :</b> @Configuration.Config.webHostName
    <br />on
    <br />./OSL-Client-x.x.x-win-x64/Configuration/server-socket.json
    <br />
    <img class="presentation-gif" style="width: 15%" src="./assets/index/presentation-ip.gif" />
    <br />Or use cmd for display ip : windows+r, cmd, ipconfig, copy/past IPv4
    <br /><img class="presentation-gif" style="width: " src="./assets/index/presentation-ip.png" />

    <br /><br />
    <h2 class="title">CDragon :</h2>
    Data download from CDragon (picture, perks, spell ... of League of Legends)
    <br /><br />
    <h2 class="title">Config :</h2>
    <div class="alert-warning" style="width: 430px">
        <strong>Warning!</strong>
        <br>No forget to change key of Web Riot Api
    </div>
    <br />
    <img class="presentation-gif" src="./assets/index/presentation-api-key.gif" />
    <br /><br />Load or save champ select, in game, end game or runes views
    <br /><br />
    <h2 class="title">Champ Select :</h2>
    Customization of champion selection overlay
    <br /><br />
    <h2 class="title">In Game :</h2>
    Customization of in game overlay
    <br /><br />
    <h2 class="title">End Game :</h2>
    Customization of end game overlay
    <br /><br />
    <h2 class="title">Runes :</h2>
    Customization of runes overlay
    <br /><br />
    <h2 class="title">OBS configuration :</h2>

    Add to your différents scènes the différents URL
    <br />ip : your local or distant ip
    <br />port : your local or distant port (default http port 4141)
    <br />
    <br />
    <div class="alert-info">
        <strong>Information!</strong>
        <br>https does not work with OBS for the moment
    </div>
    <br />

    <img class="presentation-gif" src="./assets/index/presentation-obs.gif" />
    <br />

    <h4 class="title">Champion selection :</h4>
    http://@Configuration.Config.webHostName:@Configuration.Config.webHttpPort/champselect/view1
    <br />http://@Configuration.Config.webHostName:@Configuration.Config.webHttpPort/champselect/view2
    <br />http://@Configuration.Config.webHostName:@Configuration.Config.webHttpPort/champselect/view3
    <br />http://@Configuration.Config.webHostName:@Configuration.Config.webHttpPort/champselect/view4
    <br />
    <br />
    <h4 class="title">In game :</h4>
    http://@Configuration.Config.webHostName:@Configuration.Config.webHttpPort/ingame/view1
    <br />http://@Configuration.Config.webHostName:@Configuration.Config.webHttpPort/ingame/view2
    <br />http://@Configuration.Config.webHostName:@Configuration.Config.webHttpPort/ingame/view3
    <br />
    <br />
    <h4 class="title">End Game :</h4>
    http://@Configuration.Config.webHostName:@Configuration.Config.webHttpPort/endgame/view1
    <br />http://@Configuration.Config.webHostName:@Configuration.Config.webHttpPort/endgame/view2
    <br />http://@Configuration.Config.webHostName:@Configuration.Config.webHttpPort/endgame/view3
    <br />
    <br />
    <h4 class="title">Runes :</h4>
    http://@Configuration.Config.webHostName:@Configuration.Config.webHttpPort/runes/view1/adc
    <br />http://@Configuration.Config.webHostName:@Configuration.Config.webHttpPort/runes/view1/adcsupp
    <br />http://@Configuration.Config.webHostName:@Configuration.Config.webHttpPort/runes/view1/jungle
    <br />http://@Configuration.Config.webHostName:@Configuration.Config.webHttpPort/runes/view1/mid
    <br />http://@Configuration.Config.webHostName:@Configuration.Config.webHttpPort/runes/view1/top
    <br />http://@Configuration.Config.webHostName:@Configuration.Config.webHttpPort/runes/view1/supp
    <br />http://@Configuration.Config.webHostName:@Configuration.Config.webHttpPort/runes/view1/all
    <br />
    <br />
    <br />

</div>


<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />