@using OSL_Overlay.Phase.ChampSelect

@* ---------------- Display Coach ---------------- *@
<div class="coach @Team" style="background:@Coach.Info.Background; border:@Coach.Info.Border">
    <Txt Txt="@Coach.Info.Txt" Font="@Coach.Info.Font" Color="@Coach.Info.Color" />
</div>

@code {
    [Parameter] public string Team { get; set; } = string.Empty;
    [Parameter] required public Coach Coach { get; set; }
}
