<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OSL-Server</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3" >
            <NavLink class="nav-link" href="cdragon">
                <span class="oi oi-data-transfer-download" aria-hidden="true"></span> @*@Locales.CDragon*@ CDragon
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="config">
                <span class="oi oi-cog" aria-hidden="true"></span> Config
            </NavLink>
        </div>
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="recaplinkoverlay">
                <span class="oi oi-link-intact" aria-hidden="true"></span> Recap Link Overlay
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="waitinggame">
                <span class="oi oi-timer" aria-hidden="true"></span> Waiting a Game
            </NavLink>
        </div>*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="champselect">
                <span class="oi oi-ban" aria-hidden="true"></span> Champ Select
            </NavLink>
        </div>
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="waitinggamestart">
                <span class="oi oi-ellipses" aria-hidden="true"></span> Waiting Game Start
            </NavLink>
        </div>*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ingame">
                <span class="oi oi-shield" aria-hidden="true"></span> In Game
            </NavLink>
        </div>
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="endgame">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> End Game
            </NavLink>
        </div>*@
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
