@using OSL_Overlay.Phase.ChampSelect

@* ---------------- Patch Info ---------------- *@
<div class="patch" style="background:@Patch.BackgroundColor">
    <Txt Text="@Patch.PatchInfo" />
    <Txt Text="@Patch.Version" />
</div>

@code {
    [Parameter] required public Patch Patch { get; set; }
}
