@page "/gamestatus"

<PageTitle>Game Status</PageTitle>

<style>
    .section {
        scroll-margin-top: 10vh;
    }
</style>

<MudText Typo="Typo.h4" GutterBottom="true" Style="text-decoration-line: underline; font-weight:bold;"><b>Game Status</b></MudText>
<br />
<div style="padding:14px;border-left:5px solid #ffc107;background:#fff8e1;border-radius:6px;color:#7a5c00;">
    <b>🚧 This module is currently being developed</b><br>
    TODO:
    <br />- Display in what fase is the game, champ select, in game, end game, ....
</div>

@code {

}
