@page "/cdragon"
@using OSL_CDragon;
@using MudBlazor

<PageTitle>CDragon</PageTitle>
<div class="parent">
    <div class="InformationDataCDragon">
        <div class="content">
            <h1 class="title">Information data CDragon</h1>
            <br /><h4>What is update :</h4>
            - <b>Champion :</b> square, sound, splashe, splashe uncentered, loading screen, data information
            <br />- <b>Items :</b> icon, data information
            <br />- <b>Perks :</b> icon, data information
            <br />- <b>Summoners Spell :</b> icon, data information
        </div>
    </div>
    <br />
    <div class="Curent">
        <div class="content">
            <h4>Patch and region selected</h4>
            - <b>Patch :</b> @CDragon.patch
            <br />- <b>Region :</b> @CDragon.region
        </div>
    </div>
    <br />
    <div class="Update">
        <div class="content">
            <h4>Update</h4>
            In default this information are updated automaticly <b>(last update : @CDragon.date)</b> <button class="btn btn-primary button-form" onclick="history.go(0)"> Refresh </button>
            <div>
            </div>
        </div>
        <br /><button class="btn btn-primary button-form" @onclick="UpdateManual"> Manual Update </button> (Update with <b>latest</b> version and in <b>fr_fr</b>@*and <b>en_gb</b>*@, click on refresh after manual update for see las version and last update information)
    </div>
    <br />
    @*<div class="CustomUpdate">
    <div class="content">
    <h4>Custom Update</h4>
    If you whant a previous patch for display information, fill in the following gaps (it is possible that it does not work you have by default the <b>@CDragon.patch</b> patch):
    </div>
    </div>*@
</div>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code {

}
