@page "/champselect"


<PageTitle>Champ Select - Links</PageTitle>
<MudText Typo="Typo.h4" GutterBottom="true" Style="text-decoration-line: underline; font-weight:bold;"><b>Champ Select links</b></MudText>

@* ---------------- View1 link ---------------- *@
<SwitchButton Text="Link to view1"
              Icon="@Icons.Material.Filled.InsertLink"
              BackgroundColor="@Colors.BlueGray.Darken4"
              HoverBackgroundColor="@Colors.BlueGray.Darken2"
              TextColor="#FF0000"
              Href="champselect/view1"
              Target="_blank" />
<br />

<div style="padding:14px;border-left:5px solid #ffc107;background:#fff8e1;border-radius:6px;color:#7a5c00;">
    <b>🚧 Improve in progress</b><br>
    TODO : Add preview of champ select
</div>

@code {

}
